.header-contain {
    display: flex;
    justify-content: space-between;
}
.add-button {
    border-radius: 5px;
    border-color: transparent;
    background-color: var(--bs-success);
    float: right;
    color: white;
}

.button-icon-alignment {
    padding: 10px;
}